<nav class="navbar con-nav navbar-expand-lg navbar-light bg-info">
     <a class="navbar-brand brand"> <b>C-J NOTEBOOK</b> </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse row-nav navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav navBar">
               <button class="nav-item link nav-link active" [routerLink]="['/home']">Home</button>
               <button class="nav-item link2 nav-link" [routerLink]="['/features']">Features</button>
          </div>
     </div>
</nav>
