.main-section {
        margin: 0px;
        padding: 0px;

        .navbar-widget {
                height: 60px;
        }

        .main-widget {
                width: 100%;
                display: flex;
                justify-content: flex-start;

                .router-outlet-view {
                        width: 100%;
                        padding: 0;
                        margin: 0;
                }
        }
}